<div id="meme-feed">
        {{#each memes}}
            <div class="meme">
                <a href="#" class="meme-title">{{title}}</a>
                <br>
                <a href="#"><img class="meme-image" src="{{imageUrl}}"></a>
                <div class="info">
                    <div id="data-buttons">
                        <a href="#" class="custom-button">Check Out</a>
                        <a href="#" class="custom-button" id="editButton">Edit</a>
                        <a href="#" class="custom-button" id="deleteButton">Delete</a>
                        <a href="#" class="creator">Creator: User</a>
                    </div>
                </div>
                <hr>
            </div>
        {{else}}
            <p class="no-memes">No memes in database.</p>
        {{/each}}
    </div>